html {
  background: url('../assets/bg.png');
  background-color: red;
}

.hidden {
  display: none;
}

.fullsize {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.my-nav {
  background: rgba(0,0,0,0);
}

.my-panel {
  background: white;
}

.big-font {
  font-size: 3rem;
}

.med-font {
  font-size: 2rem;
}

.menu-separated {
  margin-left: auto;
}

.logo {
  max-height: 50px!important;
  height: 50px;
  width: auto;
}
