.hidden {
  display: none;
}

.fullsize {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.my-nav {
  background: rgba(0,0,0,0);
}

.my-panel {
  background: white;
}
